body {
    font-family: sans-serif, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
    color: #333;
}

#control {
    width: 220px;
    padding: 0px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#header {
    background-color: #005ea0; /* Jira blue */
    padding: 10px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    color: white;
}

#title {
    margin: 0;
}

#titletext {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

#content {
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h5 {
    margin: 0;
    font-size: 12px;
    color: #fff;
}

.notifycontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}

.checkswitch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.checkswitch:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .checkswitch {
    background-color: #2a73e5; /* Jira primary blue */
}

input:checked + .checkswitch:before {
    transform: translateX(26px);
}

.slider {
    position: relative; /* Ensure the slider container is positioned relative */
    margin: 20px 0;
    width: 100%;
}

input[type="range"] {
    width: 100%;
}

.tooltip {
    position: absolute;
    bottom: calc(70% + 0px); /* Position the tooltip just above the slider */
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #777;
    color: #fff;
    border-radius: 5px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    text-align: center;
    white-space: nowrap;
}

.slider:hover .tooltip {
    opacity: 1;
}

.tooltip::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-top-color: #777;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: calc(100% - 6px);
}
